<div class="tracker-notification tracker-notification--whitelisted" data-target='bouncer.trackerNotification'>
  <p>The sender of this email included <%= pluralize(count, 'tracker') %> to gather information from you when you open this email.</p>
  <p>You've told us to allow trackers from this sender, so we're letting them come through.</p>
  <button data-action="bouncer#rebounce" class="button">Block trackers for <%= from %></button>
</div>
