<div class="tracker-notification" data-target='bouncer.trackerNotification'>
  <h2>We caught 'em!</h2>
  <p>The sender of this email included <%= pluralize(count, 'tracker') %> to gather information from you when you open this email.</p>
  <p>To protect your privacy, we've blocked this tracker automatically.</p>
  <button data-action="bouncer#loadOnce" class="button">Load trackers just this time</button>
  <button data-action="bouncer#override" class="button">Allow trackers for <%= from %></button>
</div>
