<% if email.tracker_count > 0 %>
  <% locals = { from: email.from, count: email.tracker_count } %>
  <% if email.from_whitelisted_tracking_sender? %>
    <%= render partial: '/tracker_notifications/allowed_tracker_notification',
               locals: locals %>
  <% else %>
    <%= render partial: '/tracker_notifications/bounced_tracker_notification',
               locals: locals %>
  <% end %>
<% end %>
