/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-family: 'Helvetica', sans-serif;
}

body {
  position: relative;
}

h2 {
  font-size: 1.4em;
}

.repo-link {
  position: absolute;
  top: 4px;
  right: 4px;
}

.repo-link img {
  max-width: 32px;
}

.button {
  border: 1px solid lightgray;
  background-color: gray;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 16px;
  transition: 150ms background-color,
              150ms color;
}

.button:hover {
  background-color: azure;
  color: black;
  cursor: pointer;
}

.button--small {
  padding: 0.25rem 0.5rem;
}
