// Place all the styles related to the emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.email-meta {
  color: gray;
  p {
    margin: 0;
  }
}

ul.email-summary-list {
  list-style: none;
  padding-left: 0;
  li.email-summary {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    border-top: 1px solid lightgray;
    &:last-child {
      border-bottom: 1px solid lightgray;
    }
    .email-received {
      padding: 0 1rem;
      flex: 1 0 auto;
      text-align: right;
    }
  }
}

.tracker-notification {
  width: 80%;
  max-width: 640px;
  background-color: lightsalmon;
  border: 1px solid salmon;
  border-radius: 16px;

  padding: 1rem;
  margin: 1rem auto 2rem;
  &--whitelisted {
    background-color: azure;
    border: 1px solid lightblue;
  }
}
