// Place all the styles related to the TrackerPatterns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

ul.tracker-pattern-list {
  li.tracker-pattern {
    margin: 1rem 0;
  }
}
