<li class="email-summary">
  <h2><%= email_summary.subject %></h2>
  <p class="email-received"><%= time_ago_in_words email_summary.received_at %> ago from <%= email_summary.from %></p>
  <p><%= link_to 'Read', email_summary, class: 'button' %></p>
</li>
