<p><%= link_to 'Known Tracker Patterns', tracker_patterns_path, class: 'button' %></p>
<h1>Inbox</h1>

<ul class="email-summary-list">
  <%= render partial: 'email_summary', collection: @emails %>
</ul>
