<p><%= link_to 'Back', emails_path, class: 'button' %></p>
<div data-controller="bouncer">
  <h1 class="email-subject"><%= @email.subject %></h1>
  <div class="email-meta">
    <p><%= @email.received_at %></p>
    <p>From: <span data-target='bouncer.fromAddress'><%= @email.from %></span></p>
  </div>
  <%= render partial: '/tracker_notifications/tracker_notification', locals: { email: @email } %>
  <div>
    <%= raw @email.body %>
  </div>
</div>
