<%= form_with(model: tracker_pattern, method: (action == 'create' ? 'post' : 'put')) do |f| %>
  <div class="field-group">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field-group">
    <%= f.label :pattern %><br />
    <%= f.text_field :pattern %>
  </div>
  <%= f.submit action.capitalize %>
<% end %>
