<li class="tracker-pattern">
  <span class="tracker-pattern__name"><%= tracker_pattern.name %></span>
  (<span class="tracker-pattern__pattern"><%= tracker_pattern.pattern %></span>)
  <%= link_to 'Edit', edit_tracker_pattern_path(tracker_pattern), class: 'button button--small' %>
  <%= link_to 'Delete', tracker_pattern_path(tracker_pattern), class: 'button button--small', method: :delete %>
</li>
