<p><%= link_to 'Back', tracker_patterns_path, class: 'button' %></p>
<h1>Update Tracker Pattern</h1>

<%= render partial: 'form',
           locals: { tracker_pattern: @tracker_pattern, action: 'update' } %>
