<p><%= link_to 'Back', root_path, class: 'button' %></p>
<h1>Known Tracker Patterns</h1>

<ul class="tracker-pattern-list">
  <%= render partial: 'tracker_pattern', collection: @tracker_patterns %>
  <li><%= link_to 'Add new pattern', new_tracker_pattern_path %></li>
</ul>
