<!DOCTYPE html>
<html>
  <head>
    <title>ImageBouncer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="repo-link">
      <%= link_to "https://gitlab.com/image-bouncing/bouncer", target: '_blank' do %>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/GitLab_Logo.svg/1200px-GitLab_Logo.svg.png" alt="Gitlab logo" />
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
